option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.py

commands:
  01_create_virtualenv:
    command: "python3.11 -m venv /var/app/staging/venv"
  02_install_requirements:
    command: "/var/app/staging/venv/bin/pip install -r /var/app/staging/requirements.txt"
  03_fix_permissions:
    command: "chown -R webapp:webapp /var/app/staging/venv"
